* {
  box-sizing: border-box !important;
}
::-webkit-scrollbar {
  // display: none;
}
$transition-1: 0.3s;
.yn-logo {
  -webkit-background-clip: text !important;
  color: transparent;
  background: linear-gradient(to bottom, #a059e4, #8fb7fc 90%);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    right: -0.75rem;
    top: -10%;
    height: 120%;
    background-color: rgb(190, 190, 190);
  }
}
.yn-2 {
  -webkit-background-clip: text !important;
  color: transparent;
  background: linear-gradient(to bottom, #ca51fd 25%, #669af5 70%);
}
.yn-22 {
  -webkit-background-clip: text !important;
  color: transparent;
  background: linear-gradient(to bottom, #ca51fd 25%, #3d71ca 70%);
}
.ynl {
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  height: 300vh;
  background-color: #dbdfdf;
}
.login {
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
main {
  margin-top: 96px;
  .carousel-item {
    height: calc(97vh - 96px);
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card1 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
//              clr
.clr1 {
  color: #37d1ff;
}
.clr2 {
  color: #01546b;
}
//              bg
.bg1 {
  background-color: #96d3d8;
}
.bg2 {
  background-color: #59989f;
}
.bg3 {
  background-color: #9da6a9;
}
//
.translate {
  position: relative;
  span {
    position: absolute;
    width: 100px;
    color: rgb(128, 128, 128);
    height: 100px;
    top: 5px;
    left: 10px;
  }
  input {
    height: 150px;
  }
  input:focus + span {
    display: none;
  }
}
.statues {
  .img {
    height: 300px;
    background-image: url(../imgs/statues.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}
.toppp {
  z-index: 10000;
}
.sec3 {
  .card {
    width: 100% !important;
    max-width: 350px;
    margin: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &::before,&::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(13, 202, 240, 0.4);
      left: -100%;
      top: -100%;
      transition: calc($transition-1 + .3s);
    }
    &::after{
      left: auto;
      top: auto;
      right: -100%;
      bottom: -100%;
    }
    &:hover{
      &::before{
        left: 0;
        top: 0;
      }
      &::after{
        right: 0;
        bottom: 0;
      }
    }
  }
}
.h400 {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.flex3 {
  gap: 30px;
  padding: 100px;
  max-width: 1600px;
  margin: auto;
  > div {
    width: calc(100% / 3);
    .card {
      width: 100% !important;
      max-width: 100%;
      margin: auto;
    }
  }
}
.card2 {
  cursor: pointer;
  .card2-con {
    border-radius: 1rem;
    position: relative;
    transition: $transition-1;
    height: 500px;
    > img {
      filter: grayscale(1);
      height: 100%;
    }
    .card-body {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: $transition-1;
      background: linear-gradient(to bottom, #475c6a, #475c6a8f);
      img {
        height: 150px;
        border: 3px solid #6b7983;
        width: 130px;
        border-radius: 50%;
      }
      .hv-move {
        transition: calc($transition-1 + 0.15s);
      }
    }
  }
  &:hover {
    .card2-con {
      scale: 0.9;
      .card-body {
        background: linear-gradient(to bottom, #063e69, #063e6980);
        .hv-move {
          margin-top: 30px;
        }
      }
    }
  }
}
.card3 {
  width: calc(100% - 200px);
  max-width: 1500px;
  margin: auto;
  height: 450px;
  @media (max-width:720px) {
    width: calc(100% - 40px);
    height: fit-content;
  }
  margin-bottom: 40px;
  .card-con {
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    box-shadow: 0 0 30px 0px rgba(177, 130, 238, 0.671);
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    height: 100%;
    .info {
      // background: linear-gradient(to right, #b8cddb ,rgba(205, 228, 243, 0));
      padding: 50px;
      flex: 1;
      @media (max-width:720px) {
        order: 2;
        
      }
      position: relative;
      z-index: 3;
      .line {
        width: 100px;
        display: block;
        border-radius: 6px;
        margin-bottom: 10px;
        position: relative;
        height: 6px;
      }
    }
    .img {
      width: 400px;
      position: relative;
      z-index: 0;
      @media (max-width:720px) {
        order: 1;
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: calc(120% - 500px);
      height: 300%;
      right: 370px;
      top: -50%;
      z-index: 2;
      background: linear-gradient(
        to right,
        #a9c2d3,
        rgba(205, 228, 243, 0.589)
      );
      transform: rotate(-4deg);
      @media (max-width:720px) {
        display: none;
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: calc(120% - 500px);
      height: 300%;
      right: 370px;
      top: -50%;
      z-index: 1;
      background: white;
      transform: rotate(-4deg);
      @media (max-width:720px) {
        display: none;
      }
    }
  }
  &.right {
    .card-con::before {
      right: auto;
      left: 370px;
      top: -50%;
      transform: rotate(4deg);
    }
    .card-con::after {
      right: auto;
      left: 370px;
      top: -50%;
      transform: rotate(4deg);
    }
  }
}
.joinus {
  width: calc(100% - 200px);
  max-width: 1500px;
  margin: auto;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  
  .card {
    // width: 240px;
    width: 25%;
    background-color: #f5f6f9;
    box-shadow: 0 0 30px 0px rgba(177, 130, 238, 0.671);
    text-align: center;
    aspect-ratio: 1;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 23px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.726);
    }
  }
  @media (max-width:720px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card{
      width: 100%;
      max-width: 280px;
    }
  }
}
.container.sec3{
  .card-body{
    padding: 1rem;
  }
}
footer {
  .sec1,.sec2{
    margin: auto;
  }
  .sec1 {
    padding: 0 20px;
    display: flex;
    .item {
      .d-flex{
        padding: 20px 0;
      }
      .info{
        margin-top: 20px;
      }
      img {
        box-shadow: 0 0 20px 2px rgb(255, 255, 255);
      }
    }
  }
  .sec2{
    p:hover{
      color: rgb(200, 105, 255);
      cursor: pointer;
    }
  }
  .line{
    background-color: rgba(255, 255, 255, 0.404);
    height: 3px;
  }
  .linegroup{
    padding: 1.5rem;
    .line{
      width: calc(100% / 3);
    }
  }
}
@media (max-width: 720px) {
  .grid,
  .row,
  .flex3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sec3{
    .row {
      margin-top: 0 !important;
      .col {
        width: 100%;
        padding: 0;
        .card {
          width: 100%;
          margin: auto;
          margin-top: 2rem;
          max-width: 100%;
        }
      }
      .card {
        margin-top: 2rem;
        margin: 2rem auto 0;
      }
    }
  }
  footer{
    .sec1{
      display:  block;
    }
  }
  .flex3 .g-col-4 {
    width: 100%;
    .card {
      margin-top: 2rem;
    }
  }
  .card3{
    .card-con{
      flex-direction: column;
    }
  }
}
